body {
    font-family: 'Inter';
    margin: 0;
}

.nav {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.container {
    padding: 50px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background: #F9F9F9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 50px;
    display: inline-block;
}

.row-1 {
    display: flex;
    padding: 0 0 30px 0;
}

img {
    height: 70px;
    width: 300px;
}

.title-text {
    margin: auto;
}

#title-text-1 {
    font-weight: 700;
    font-size: 17px;
}

.title-text-2 {
    font-weight: 500;
    font-size: 15px;
    padding: 15px 0 0;
}

.textbox-button {
    display: grid;
}

.input-textbox {
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px 10px;

}

.input-textbox:focus {
    outline: 1px solid #989191;
}

.policy {
    display: flex;
    padding: 5px 0;
}

.btn {
    background: #3AB0FF;
    border: none;
    border-radius: 5px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    margin: 9px 0;
    padding: 16px 10px;
}

::-webkit-input-placeholder,
.back-gray-text {
    /* Chrome/Opera/Safari */
    font-family: 'Inter';
    font-weight: 200;
    color: #919191;
    font-size: 14px;
    text-decoration: none;
}